@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@600&family=Roboto:wght@500&display=swap');

html {
    scroll-behavior: smooth;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.96), rgba(30, 30, 31, 0.73)), url(../assets/background_image.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    @media (max-width:768px){
        font-size: 12px;
    }
}


header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.9rem 3.2rem;
    padding-top: 4rem;
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:768px) {
    header {
        padding: 1rem;

    }
}

header {
    .logo {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 2rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 30px;
            margin-top: 5px;
            margin-left: 5px;
            padding: 2px 2px;
        }
    }

    .hamberger-menu {
        display: none;
    }
    @media (max-width:786px) {
        .hamberger-menu{
            display: flex;
            flex-direction: column;
            gap:2px;
            .hamberger-menu-bar{
                background-color: #fff;
                width: 28px;
                height: 5px;
            }
            .responsive-ul {
                display: none;
                transition: all 5s;
            }
            .responsive-ul-show {
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: absolute;
                margin-top: 30px;
                margin-left: -30px;
                padding: 1rem;
                background-color: #017BFF;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .main-ul {
        // for small devices the ul element will not show like this 
        @media (max-width:768px) {
            display: none;
        }
        //for larger devices the ul element will be visible 
        @media (min-width:600px) {
            
        display: flex;
        }
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            margin-left: 100px;

            a {
                text-decoration: none;
                color: #ffff;
                font-size: 1em;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
            }
        }
    }
}

main {

    @media(min-width:600px) {

        padding: 4rem 3.2rem 1.9rem 3.2rem;
    }
    padding: 1rem;
    gap: 2rem;

    section {
        // height: 100vh;
        margin-bottom: 12rem;
        // opacity: 0;
        // transform: translateX(-100px);
        transition: all 1s;
        // overflow-x: hidden;
    }
}

.show {
    opacity: 1 !important;
    transform: translateX(0);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    // .grid-col-span-2 {
    //     grid-column: span 2;
    // }
}


@media (min-width:600px) {

    .header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

}

.header {

    .productive {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        .pr_fst {
            display: flex;
            color: #ffff;
            font-size: 1.2rem;

            img {
                width: 1rem;
                margin-left: 2px;
                transform: translateY(-3px);
            }
        }

        .pr_scnd {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-family: 'Nunito', sans-serif;
            line-height: 1.5rem;

            h2 {
                color: #fff;
                font-weight: 700;
                font-size: 3rem;
                padding: 2rem 1rem 0 0;
            }

            h5 {
                color: #C3C3C3;
                font-size: 2rem;
                font-weight: 300;
                padding: 2rem 0 2rem 0;
                margin-bottom: 0;
            }
        }

        hr {
            margin: 0;
        }

        .pr_thrd {
            color: #fff;
            font-size: 1.2rem;
            padding: 5px 0px;
        }
    }
}

.grid-col-span-2 {
    grid-column: span 2;
}



@media (min-width:600px) {
    .colorful-cards {
        grid-column: 3;
    }
}

.meeting {
    width: 100%;
    display: flex;
    //for small devices the meeting card will diplay column wise
    @media (max-width:768px) {
        flex-direction: column;
    }
    justify-content: center;
    align-items: center;
    position: relative;
    // padding-bottom: 3rem;
    border-radius: 17px;
    z-index: 1;
    background: linear-gradient(to right, #C2C2C2, #FFFFFF);

}

.meeting-image-section {
    display: flex;
    margin-top: 2rem;

    img {
        width: 10rem;
    }

    .img-1 {
        z-index: 1;
    }

    .img-2 {
        z-index: 2;
        margin-left: -7rem;
    }

    .img-3 {
        z-index: 3;
        margin-left: -7rem;
    }
}

.meeting-tag {
    padding: 2rem;
    margin-bottom: 6rem;
    margin-left: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width:768px) {
        text-align: center;
    }


    .meet-heading {
        font-size: 2rem;
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
    }

    .meet-tag {
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
    }
}



.glass-morphic {
    opacity: 0;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    transition: all 3s ease-in-out;

    /* From https://css.glass */
    position: absolute;
    z-index: 10;
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

    .glass-show {
        @media (min-width:600px) {
        opacity: 1;
        height: 45%;
        } 
        @media (max-width:768px) {

            opacity: 1;
            height: 25%;
            top: 0;
            left: 0;
        }

    }




.first-card {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 1.5rem;
    font-family: 'Nunito', 'sans-serif';
    background: linear-gradient(to right, #FFB42B, #FFEAC3);
    border-radius: 2rem;
    //for small devices the card will start at row 1 and span two columns
    @media (max-width:768px) {
        grid-column: 1 / span 2;
    }

    .text-heading {
        color: #373737;
        font-size: 2rem;
        font-weight: 600;
        width: 100%;
        padding-left: 1rem;
    }

    img {
        width: 2rem;
        align-self: flex-end;
    }
}

.second-card {
    width: 100%;
    padding: 1.5rem;
    font-family: 'Nunito', 'sans-serif';
    background: linear-gradient(to right, #F96300, #FFDBC3);
    border-radius: 2rem;
    //for small devices the card will start at row 1 and span two columns
    @media (max-width:768px) {
        grid-column: 1 / span 2;
    }

    .text-heading {
        color: #ffff;
        font-size: 2rem;
        font-weight: 600;
        width: 100%;
        padding-left: 1rem;
    }

    .text-sub-container {
        display: flex;
        justify-content: space-between;
    }

    .text-text {
        color: #ffff;
        font-size: 2rem;
        font-weight: 600;
        padding-left: 1rem;
    }

    .text-logo {
        color: #BD4B00;
        font-size: 3rem;
        font-weight: 700;
    }
}

.third-card {
    width: 100%;
    padding: 1.5rem;
    font-family: 'Nunito', 'sans-serif';
    background: linear-gradient(to right, #017BFF, #86C0FF);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (min-width:600px) {
    grid-column: 3;
    }
    //for small devices the card will start at row 1 and span two columns
    @media (max-width:768px) {
        grid-column: 1 / span 2;
    }
    

    .text-heading {
        color: #ffff;
        font-size: 1.75rem;
        font-weight: 600;
        width: 100%;
        padding-left: 1rem;
    }

    img {
        align-self: flex-end;
        width: 2rem;
    }
}

.fourth-card {
    width: 100%;
    padding: 1.5rem;
    font-family: 'Nunito', 'sans-serif';
    background: linear-gradient(to right, #898989, #FFFFFF);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //for small devices the card will start at row 1 and span two columns
    @media (max-width:768px) {
        grid-column: 1 / span 2;
    }

    .text-heading {
        color: #ffff;
        font-size: 1.75rem;
        font-weight: 600;
        width: 100%;
        // word-spacing: 0.5rem;
        padding-left: 1rem;
    }

    img {
        align-self: flex-end;
        width: 3rem;
    }
}

.header-buttons {
    width: 100%;
    color: #fff;
    font-family: "Poppins", "sans-serif";
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    border: none;
    border-radius: 47px;

}
@media (max-width:768px) {
    .header-buttons {
        font-size: 1rem;
    }
}

.community-btn-colors {
    background: linear-gradient(to right, #FFE600, #FF9900);

}

.join-btn-colors {
    background: linear-gradient(to right, #167A05, #95DD5D);

}

.platform-interface {
    display: flex;
    justify-content: center;
    text-align: center;

    // padding-top: 10rem;
    img {
        max-width: 100%;
    }
}

.float {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;

    .float-heading {
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Nunito', 'sans-serif';
        color: #ffff;
    }

    .float-subheading {
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Nunito', 'sans-serif';
        color: #ffff;
        margin-top: 1rem;
    }

}

.people-section {
    display: flex;
    flex-direction: column;
    // padding: 1rem;
    margin-top: 2rem;
    gap: 1rem;

    img {
        max-width: 100%;
        z-index: 1;
        margin-top: -3rem;
        //only for larger devices we add padding
        @media (min-width) {
        padding: 0px 5rem;
        }
    }

    .people-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;

    }

    .people-heading {
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Nunito', 'sans-serif';
        color: #ffff;
        z-index: 3;
        text-align: center;
    }

    .people-subheading {
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Nunito', 'sans-serif';
        color: #ffff;
        z-index: 3;
        margin-top: 1rem;
        text-align: center;
    }
}

.grey-cards {
    @media (min-width:600px) {       
     padding: 0px 1rem;
    }
}

.community-cards {
    display: flex;
    //for small devices each card will take one column
    @media (max-width:768px) {
        flex-direction: column;
    }
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .members {
        width: 100%;
        height: 10rem;
        border-radius: 17px;
        padding-left: 4rem;
        padding-top: 2rem;
        background: linear-gradient(76.44deg, #FFFFFF -1.29%, rgba(255, 255, 255, 0.5) -1.28%, rgba(255, 255, 255, 0.19) 98.67%);

        .members-fst {
            font-size: 3rem;
            color: #ffff;
            font-weight: 700;
            font-family: 'Nunito', 'sans-serif';
        }

        .members-scnd {
            font-size: 1rem;
            color: #fff;
            font-weight: 400;
            font-family: 'Nunito', 'sans-serif';
        }
    }
}

.see-more-cards {
    display: grid;
    //for large devices the each card will take two column
    @media (min-width:600px) {
    grid-template-columns: repeat(2, 1fr);
    }
    gap: 1rem;
    padding-top: 1rem;

    .see-more-child {
        position: relative;
        border-radius: 17px;
        background: linear-gradient(76.44deg, #FFFFFF -1.29%, rgba(255, 255, 255, 0.5) -1.28%, rgba(255, 255, 255, 0.19) 98.67%);
        padding: 2rem;
        width: 100%;
        height: 15rem;

        .see-more-heading {
            font-size: 1.5rem;
            color: #ffff;
        }

        .see-more-subheading {
            font-size: 1rem;
            color: #ffff;
            padding-top: 1rem;
        }

        .redirect {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 1rem;
            color: #fff;
            padding: 1rem;

            .see-more-arrow {
                font-size: 1.5rem;
                color: #ffff;
                margin-left: 1rem;
            }
        }
    }
}

.get-started {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    // padding-top: 4rem;
    .get-started-text {
        text-align: center;
        font-family: 'Nunito', 'sans-serif';

        .get-started-heading {
            font-size: 3rem;
            color: #ffff;
            font-weight: 700;

        }

        .get-started-subheading {
            font-size: 1.5rem;
            color: #fff;
            font-weight: 200;
        }
    }

    .get-started-btn {
        width: fit-content;
        display: flex;
        @media (min-width:600px) {
            gap: 8rem;
        }
        @media (max-width:768px) {

        gap: 2rem;
        }

        button {
            padding: 1rem 3rem;
            background: black;
            color: #ffff;
            border: none;
            border-radius: 39px;

        }

        .try-wokplace {
            border: 1px solid #ffff;
        }
    }

}

.footer {

    // padding-top: 10rem;
    hr {
        width: 100%;
    }
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    padding: 1.9rem 3.2rem;
    // padding-top: 4rem;
    gap: 2rem;
    width: 100%;

    .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
        
        .footer-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:0.5rem;
            font-size: 2rem;
            color: #fff;
            margin-left: 1.5rem;

            img {
                width: 2rem;
            }
        }

       
    }
    .footer-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width:768px) {
            flex-direction: row;
        }
    
        .footer-links {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            list-style: none;
            gap: 2rem;
            //for large devices only
            @media (min-width:600px){
                flex-direction: row;
            
            }
            //for small devices 
            @media (max-width:768px){
                flex-direction: column;
            }
    
            li {
                a {
                    img {
                        width: 1.5rem;
                    }
                }
            }
        }
    
        .footer-second-links {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            list-style: none;
            font-size: 1rem;
            //for large devices only
                @media (min-width:600px){
                    flex-direction: row;
               
                }
                //for small devices 
                @media (max-width:768px){
                    flex-direction: column;
                }
    
            li {
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}



.join {
    padding: 1rem 3rem;
    color: #fff;
    border: none;
    border-radius: 17px;
    background: linear-gradient(to right, #FFE600, #FF9900);
}

    .Work-with-us {
        padding: 1rem 3rem;
        width: 14rem;
        color: #fff;
        border: none;
        border-radius: 17px;
        background: linear-gradient(to right, #167A05, #95DD5D);
    }


.copyright {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    padding: 4rem 0;
}

button {
    cursor: pointer;
}